<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>How it all works</h1>
      <h2 class="subTitle">An Overview of the Magic that powers MilkTrackr</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h2 class="subTitle">The Problem</h2>
      <p>Living with roommates is great. They're good company, help with the household chores, and widen your circle of friends. However, they also drink your milk. How many times have you woken up and gone to the fridge, only to find three drops of milk left in an empty carton, waiting to be thrown out. It's beyond frustrating. We feel your pain.</p>
    </div>
    <div class="col-sm-4">
      <img src="assets/cowcarton.png" class="cow img-responsive" alt="Cow">
    </div>
    <div class="col-sm-4">
      <h2 class="subTitle">The Solution</h2>
      We've designed a hardware-software solution to measure your apartment’s milk consumption over time. Using cutting-edge technology, our MilkSensor(TM) system relays information to the MilkTrackr dashboard, where you can see how much milk is left in your fridge, as well as data about your milk consumption. And if you're on the go, MilkTrackr can text you if your milk levels are getting low. Awesome.
    </div>
  </div>
  <div class="row">
    <div class="container white">
      <div class="row">
        <div class="col-xs-12">
          <h1>The Hardware</h1>
          <div class="row">
            <div class="col-sm-8">
              <h2>An Overview</h2>
              <p>To effectively measure milk consumption over time, we needed to determine an analog sensor that could plug into the Arduino. We briefly considered a capacitive liquid sensor but settled on a mass sensor for simplicity and accuracy. By following a couple guides online, we ended up using the sensor in this scale after stripping out all other electronics.</p>
              <p>The first iteration of the circuit consisted of using the Arduino to measure the voltage across the mass sensor, which acts as a potentiometer with a resistance that varies linearly with the force applied to the top. The Arduino samples the voltage within a range of 0-5 volts and converts it to a digital signal with values from 0-1024. For this project, we called this Arduino unit of measurement a “raw”.</p>
            </div>
            <div class="col-sm-4">
              <h2>Circuit Diagram</h2>
              <div>
                <img src="assets/milkman_basic_circuit.png" class="img-responsive" alt="Simple Circuit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h2>Proof of Concept</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div>
                <img src="assets/first_iteration_pic.jpg" class="img-responsive img-rounded"alt="So many wires!">
              </div>
            </div>
            <div class="col-sm-8">
              <p>However, to get the hardware working correctly, we needed to add an amplifier to properly scale the analog signal to a range that the Arduino could measure precisely. Without the amplifier, placing anything from 0-6 kg on the mass sensor would result in the same raw value being measured by the Arduino. In addition to the amplifier, we added an Adafruit CC3000 WiFi Shield so the Arduino can communication with our server over WiFi.</p>
              <h2>Programming the Arduino in C</h2>
              <div class="well">
                void loop(void)<br>
                  &nbsp&nbsp{<br>
                  &nbsp&nbsp&nbsp&nbspunsigned long time = millis();<br>
                  &nbsp&nbsp&nbsp&nbspif (time - lastSend >= (1000 * (unsigned long)LOGGING_FREQ_SECONDS)) {<br>
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsplogSensorReading();<br>
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsplastSend = time;<br>
                  &nbsp&nbsp}<br>
                  }</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Final Version</h2>
          <p>Once we had the proof of concept up and running, we secured the Arduino and breadboard in a cardboard case and ran wire through the lid where we mounted the mass sensor platform. The result is a secure prototype that can comfortably fit in any refrigerator for all your milk tracking needs!</p>
        </div>
      </div>
    </div>
  </div>
</div>
