

  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          </br><h1>MilkTrackr</h1>
          <h2>A revolutionary device to simplify your life.</h2> 
        </div><!-- /col-lg-6 -->
        <div id="milk-bottle-container" class="col-xs-6 col-md-4">
          <img id="milk-bottle" src='/assets/milk_bottle_production.png'>
          <div id="milk-fill"></div>
        </div><!-- /col-lg-6 -->
      </div><!-- /row -->
      <div class="row-centered">
        <div class="col-md-2 col-md-offset-5">
          <div id="button-wrap">
          <a class="btn btn-warning btn-lg" href="<%= dashboard_path %>">See the Dashboard</a>
        </div>
        </div>
      
      </div>
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  
  
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>A Personalized Milk Dashboard.<br/>What more could you ask for?</h1>
        <h3>Multiple views and customizeable charts to track your milk consumption over time. Forgetting to buy milk is a thing of the past.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4" id="gauge">
        <div id="highchart-gauge"></div>
        <h4>Real-Time Metrics</h4>
        <p>A personalized dashboard to track your milk consumption.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <div id="highchart-line"></div>
        <h4>Advanced Hardware</h4>
        <p>A wifi enabled Arduino seamlessly sends your milk data from the fridge to the MilkTrackr app.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/buymilk.png" width="180" alt="">
        <h4>Twilio Integration</h4>
        <p>Get a text message when you're running low on milk. It's like having a cow in your pocket. Not really though.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>The MilkMen</h1>
        <h3>Learn More about the team behind the project.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img class="img-circle" src="assets/corbin.png" width="140" alt="">
        <h4>Corbin Page</h4>
        <p>Corbin is an avid skydiver, skeet shooter, and milk drinker. When he's not hacking kitchen scales, he can be found tasting food cart fare around New York City.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="assets/eugmill.jpg" width="140" alt="">
        <h4>Eugene Millerman</h4>
        <p>Eugene is a wine and cheese enthusiast, and is a notable contributor to "Wine and Cheese Enthusiast". He also drinks milk.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="assets/dfenjves.jpg" width="140" alt="">
        <h4>Danny Fenjves</h4>
        <p>Danny once sliced an avocado with a spoon. He was very proud of himself and drank a glass of milk.</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  
  <div class="container">
    <hr>
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
        </form>         
      </div>
      <div class="col-lg-3"></div>
    </div><!-- /row -->
    <hr>
    <p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
  </div><!-- /container -->