/* For the milk fill effect on the front page. */
#milk-fill{
  background-color:white;
  position:relative;
  top:0;
  height:350px;
  width:300px;
  z-index: 0;
}

#milk-bottle{
  z-index: 2;
  position:relative;
}

#milk-bottle-container{
  overflow: hidden;
  height:391px;
}

@media only screen and (max-width:1200px){
 .highcharts-container{
  margin:0 auto;
} 

}

//767 breakpoint ?
@media only screen and (max-width: 767px) {
#milk-bottle-container{
  margin-left: auto;
  margin-right: auto;
  width: 382px;
  float:none;
  height:360px;
}

#milk-bottle{
  width:100%;
}    

.row-centered .btn{
  margin:15px auto;
  display:block;
  width:50%;
}

#headerwrap{
  padding-top:0;
}

#headerwrap br{
  display: none;
}

}